# Python
__pycache__/
*.pyc
.venv/
.env

# Java/Scala
target/
*.class
*.jar
.metals/
.bloop/
.idea/

# Node
node_modules/

# OS
.DS_Store

# Data
data/
*.parquet
*.csv
*.jsonl

# Notebooks
.ipynb_checkpoints/
